services:
  db:
    image: postgres:16
    container_name: postgres_fakeapi
    restart: always
    environment:
      POSTGRES_DB: fakeapidb
      POSTGRES_USER: fakeapiuser
      POSTGRES_PASSWORD: fakeapipassword
    ports:
      - "5432:5432"


